@use 'base/vars';
@use 'base/mixins' as mixins;

.our-menu {
    background-image: url(../img/menu_arriba.svg), url(../img/menu_abajo.svg), linear-gradient(to top, vars.$color_main, vars.$color_main);
    background-repeat: no-repeat;
    background-position: center 5rem, center 95%, 100%;
    background-size: 200%;
    padding: 15rem 5rem 20rem 5rem;
    
    @include mixins.tablet {
        padding: 15rem 0 20rem 0; 
        background-size: 100%;
    }
    
    @include mixins.desktop {
        background-size: 50%, 50%, 100%;
    }

}