@use 'vars';

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: vars.$font_secondary;
    font-size: 1.6rem;
    background-color: vars.$color_secondary-light;
}

p {
    color: vars.$color_black;
    font-size: 1.6rem;
    line-height: 2;
}

a {
    text-decoration: none;
    color: vars.$color_black;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}