@use 'vars';

@mixin phone {
    @media ( min-width: vars.$phone_mq ) {
        @content;
    }
}

@mixin tablet {
    @media ( min-width: vars.$tablet_mq ) {
        @content;
    }
}

@mixin desktop {
    @media ( min-width: vars.$desktop_mq ) {
        @content;
    }
}

@mixin grid( $cols, $gap ) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    gap: $gap;
}