// Fonts
$font_main: 'Roboto', sans-serif;

// Media queries
$phone_mq:   480px;
$tablet_mq:  768px;
$desktop_mq: 1024px;

// Colors
$color_main: #E8505B;
$color_secondary: #455A64;
$color_black: #000000;
$color_white: #FFFFFF;
$color_gray: #ECEEEF;

// Spacing
$spacing: 5rem;
