// Fonts
$font_main: 'Raleway', sans-serif;
$font_secondary: 'Roboto', sans-serif;
$font_italic: 'Bona Nova', sans-serif;

// Media queries
$phone_mq:   480px;
$tablet_mq:  768px;
$desktop_mq: 1024px;

// Colors
$color_main: #5E311E;
$color_secondary: #C39C63;
$color_secondary-light: #EBE7DE;
$color_black: #000000;
$color_white: #FFFFFF;
$color_gray: #ECEEEF;

// Spacing
$spacing: 5rem;
